$speedometer-size: 500px;

.fl-speedometer {
  height: $speedometer-size;
  width: $speedometer-size;
  border-radius: $speedometer-size;
  background-color: $white;
  background: $white;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 90%);
  margin-right: -100px;
  position: relative;
  z-index: 1;
}