.fl-vehicle-doors {
  width: 100%;
  height: 100%;
  margin-left: $spacing-l;
}

.fl-vehicle-doors__loader {
  transition: opacity $transition-time ease-in;

  &--hide {
    opacity: 0;
  }
}

.fl-vehicle-doors__rear-left, .fl-vehicle-doors__rear-right, .fl-vehicle-doors__front-left, .fl-vehicle-doors__front-right {
  transition: opacity $transition-time ease-in $transition-time/2, transform $transition-time ease-in;

  &--closed {
    opacity: 0;
  }
}

.fl-vehicle-doors__front-left {
  transform-origin: 72px 170px;

  &--closed {
    transform: rotate(-60deg);
  }
}

.fl-vehicle-doors__rear-left {
  transform-origin: 70px 242px;

  &--closed {
    transform: rotate(-60deg);
  }
}

.fl-vehicle-doors__front-right {
  transform-origin: 190px 170px;

  &--closed {
    transform: rotate(60deg);
  }
}

.fl-vehicle-doors__rear-right {
  transform-origin: 191px 242px;

  &--closed {
    transform: rotate(60deg);
  }
}