.fl-icon-text {
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;

  &:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;

    .fl-icon-text__img {
      margin-left: $spacing-m;
      margin-right: 0;
      align-items: flex-end;
    }
  }
}

.fl-icon-text__label {
  margin: 0;
  text-transform: capitalize;
  font-size: 1em;
}

.fl-icon-text__value {
  font-family: 'VW light', -apple-system, BlinkMacSystemFont, sans-serif;
  text-transform: capitalize;
}

.fl-icon-text__img {
  margin-right: $spacing-m;
  width: $icon-size-m;
  height: $icon-size-m;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media('>=xlarge') {
    width: $icon-size-l;
    height: $icon-size-l;
  }

  svg:not(.custom) {
    path {
      fill: var(--primary);
      transition: fill $transition-time ease-in;
    }
  }

  .custom  {
    .stroke {
      stroke: var(--primary);
      transition: stroke $transition-time ease-in;
    }
    .fill {
      fill: var(--primary);
      transition: fill $transition-time ease-in;
    }
  }
}