.btn {
  font-family: 'VW bold', -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: bold;
  display: inline-block;
  color: #212529;
  text-align: center;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1rem 1.6rem;
  font-size: 1.25rem;
  border-radius: 3rem;
  min-width: 9rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-light {
  color: $primary-color;
  background-color: $white;
  border-color: $primary-color;
}
