.btn {
  font-family: 'VW bold', -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212529;
  text-align: center;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0 1.6rem;
  font-size: 1.25rem;
  border-radius: 3rem;
  min-width: 9rem;
  height: $btn-height;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: $piction-blue;
  border-color: $piction-blue;
}

.btn-icon {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  min-width: 0;
  border-radius: 0;
}

.btn-light {
  color: $piction-blue;
  background-color: $white;
  border-color: $piction-blue;
}

.btn-circle {
  background-color: var(--primary);
  height: $btn-height;
  width: $btn-height;
  border-radius: 100%;

  path {
    fill: $white;
  }
}