$profile-pic-size-m: 44px;
$profile-pic-size-l: 58px;

.fl-user {
  display: flex;
}

.fl-user__pic {
  width: $profile-pic-size-m;
  border-radius: 100%;

  @include media('>=xlarge') {
    width: $profile-pic-size-l;
  }
}

.fl-user__name {
  font-weight: bold;
}

.fl-user__signout {
  color: var(--primary);
  transition: color $transition-time ease-in;
}
.fl-user__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  margin-right: $spacing-s;
}