$profile-pic-size: 36px;

.fl-user {
  display: flex;
}

.fl-user__pic {
  width: $profile-pic-size;
}

.fl-user__name {
  font-weight: bold;
}

.fl-user__signout {
  color: $white;
  text-decoration: underline;
}
.fl-user__content {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: $spacing-s;
}