$progress-width: 12px;

.vehicle-detail__footer {
  height: $btn-height;
  display: flex;
  justify-content: space-between;

  position: absolute;
  bottom: $spacing-m;
  left: $spacing-m;
  right: $spacing-m;

  @include media('>=xlarge') {
    position: static;
  }
}

.vehicle-detail__map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  opacity: 0.04;
  z-index: -1;
  pointer-events: none;
  transition: opacity $transition-time ease-in, z-index $transition-time ease-in;

  &--active {
    opacity: 1;
    z-index: 0;
    transition: opacity $transition-time ease-out;
  }
}

.btn-circle__map, .btn-circle__info {
  transition: background-color $transition-time ease-in;

  .theme-light & {
    box-shadow: -30px 2px 34px 0 rgba(0, 166, 255, 0.19), 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 12px 14px 0 rgba(4, 50, 84, 0.43), 6px -8px 24px 0 rgba(44, 209, 255, 0.35);
  }

  &--active {
    z-index: 1;
    transition: background-color $transition-time ease-in;
  }
}

.btn-circle__lockToggle {
  transform: scale(1.5);
  transition: background-color 0.25s ease-in, transform 0.5s ease-in;
  border: 1px solid transparent;
  position: relative;
}

.btn-circle__lockToggle--active, .btn-circle__lockToggle:hover {
  background-color: transparent;
  border-color: var(--primary);

  .btn-circle__lockToggle-icon path {
    fill: var(--primary);
  }
}

.btn-circle__lockToggle--inactive {
  animation: pulse 1s;

  .theme-dark & {
    animation: pulse-dark 1s;
  }
}

.btn-circle__lockToggle-icon {
  width: 22px;
  animation: bounce 0.25s 2 linear alternate;
}

.btn-circle__circle-icon{
  position: absolute;
  transform: scale(1.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-circle__svg-circle {
  fill: transparent;
  stroke: var(--primary);
  stroke-width: $progress-width;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  stroke-dashoffset: 0;
  animation: drawCircle 3s;
  -webkit-animation-play-state: running;
  -moz-transform: rotate(-89deg) translateX(-190px); /* firefox bug fix - won't rotate at 90deg angles */
}