body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $body-bg-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  height: 100%;
}

.fleet-main {
  height: 100%;
  display: flex;

}

.fleet-wrapper {
  display: flex;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  background-color: $bg-color;
  padding: $spacing-l;
}

.fleet-map {
  height: 200px;
  width: 100%;
}