.fl-modal {
  color: var(--text-primary);
  font-size: 1.2rem;
  font-family: 'VW light', -apple-system, BlinkMacSystemFont, sans-serif;
  transition: color .15s ease-in;
  border-radius: 17px;
  box-shadow: 0 2px 74px 0 rgba(0, 0, 0, 0.41), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.8);
  width: 80%;
  padding: $spacing-l;
  text-transform: capitalize;

  @include media('>=large') {
    width: 60%;
  }

  @include media('>=xlarge') {
    width: 80%;
  }

  &--dark {
    box-shadow: 0 2px 74px 0 rgba(155, 155, 155, 0.41), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.fl-modal__overlay {
  background: rgba(0, 0, 0, 0);

  @include media('>=large') {
    left: $nav-panel-width-m;
  }

  @include media('>=xlarge') {
    left: $nav-panel-width-l;
  }
}

.fl-modal__close-btn {
  top: $spacing-l;
  right: $spacing-l - 10;
}

.fl-modal__close-icon {
  fill: var(--primary);
}

.fl-modal__title {
  color: var(--primary);
  text-transform: uppercase;
  margin-top: 0;
  font-size: 1.5rem;
}

.fl-modal__content {
  display: flex;
}

.fl-modal__info {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0;
}

.fl-modal__info dd {
  margin: 0;
  text-align: right;
}

.btn-circle__info--active {
  z-index: 1001;
}