$fleet-btn-height: 96px;


.fleets {
  width: $side-panel-width;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-top: 1px solid $light-color;
}

.fleet__item {
  border-bottom: 1px solid $light-color;
}

.fleet__btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 $spacing-m;
  height: $fleet-btn-height;
  border: none;
  text-align: left;
  color: $white;
  background-color: $secondary-color;


  &:hover, &focus {
    background-color: $intense-color;
  }
}

.fleet__label {
  background-color: $white;
  color: $secondary-color;
  width: 40px;
  padding: 2px 10px;
  margin-right: $spacing-m;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  font-size: .8rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

.fleet__name {
  flex: 1 0 0;
  font-size: 1rem;
}