$fleet-btn-height-l: 96px;


.fleets {
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-top: 1px solid rgba(255,255,255,0.1);
}

.fleet__item {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.fleet__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 $spacing-s;
  height: $header-height-m;
  border: none;
  text-align: left;
  color: var(--secondary);
  background-color: transparent;
  transition: color $transition-time ease-in, background-color $transition-time ease-in;

  @include media('>=xlarge') {
    padding: 0 $spacing-m;
    height: $fleet-btn-height-l;
  }

  &:hover, &focus {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.fleet__label {
  background-color: var(--secondary);
  color: $prussian-blue;
  width: 26px;
  padding: 2px 6px;
  margin-right: $spacing-s;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  font-size: .8rem;
  transition: color .15s ease-in, background-color .15s ease-in;

  @include media('>=xlarge') {
    width: 40px;
    margin-right: $spacing-m;
    padding: 2px 10px;
  }
}

.fleet__name {
  flex: 1 0 0;
  font-size: 1rem;
}