.fl-header {
  height: $header-height;
  background-color: $white;
  color: $prussian-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-s $spacing-m;
}