$juice-block: 4px;
$secondary-color-light: #4cc7f4;

.fl-juice {
  width: 56px;
  height: 80px;
  border-radius: 10px;
  border: $juice-block solid $primary-color;
  margin-top: $juice-block;
  padding: $juice-block;
  position: relative;
  display: flex;
  align-items: flex-end;

  &::before {
    position: absolute;
    content: '';
    background-color: $primary-color;
    width: 60%;
    height: $juice-block;
    display: block;
    top: -$juice-block * 2;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.fl-juice__meter {
  background-color: $primary-color;
  border-radius: 4px;
  height: 0;
  width: 100%;
  transition: height 1s ease-in-out;

  &--low {
    animation: blinker 1s linear infinite;
  }
}

.fl-juice__charging {
  position: absolute;
  top: 0;
  left: -20px;
  bottom: 0;
  right: 0;
  margin: auto;
  transform: scale(0.2);
  filter: drop-shadow(0 0 4px $white);
  animation: blinker 1s linear infinite;
}