$juice-block: 4px;
$juice-block-top: 10px;
$piction-blue-light: #4cc7f4;

.fl-juice {
  width: 46px;
  height: 60px;
  border-radius: 10px;
  border: $juice-block solid var(--primary);
  margin-top: $juice-block;
  padding: $juice-block;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: border-color $transition-time ease-in;

  &::before {
    position: absolute;
    content: '';
    background-color: var(--primary);
    width: 60%;
    height: $juice-block-top;
    display: block;
    top: -$juice-block-top * 1.2;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    left: 0;
    right: 0;
    margin: auto;
    transition: background-color $transition-time ease-in;
  }
}

.fl-juice__meter {
  background-color: var(--primary);
  border-radius: 4px;
  height: 0;
  width: 100%;
  transition: height 1s ease-in-out, background-color $transition-time ease-in;

  &--low {
    animation: blinker 1s linear infinite;
  }
}

.fl-juice__charging {
  position: absolute;
  top: 0;
  left: -25px;
  bottom: 0;
  right: 0;
  margin: auto;
  transform: scale(0.15);
  filter: drop-shadow(0 0 4px $white);
  animation: blinker 1s linear infinite;
}