$juice-block: 6px;
$primary-color-light: #4cc7f4;

.fl-juice {
  width: 58px;
  height: 90px;
  border: $juice-block solid $primary-color;
  margin-top: $juice-block;
  padding: $juice-block;
  position: relative;
  display: flex;
  align-items: flex-end;

  &::before {
    position: absolute;
    content: '';
    background-color: $primary-color;
    width: 60%;
    height: $juice-block;
    display: block;
    top: -$juice-block * 2;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.fl-juice__meter {
  background-image: linear-gradient(270deg, $primary-color 0%, $primary-color 50%, $primary-color-light 50%, $primary-color-light 100%);
  height: 0;
  width: 100%;
  transition: height 1s ease-in-out;

  &--low {
    animation: blinker 1s linear infinite;
  }
}

.fl-juice__charging {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 16px;
  filter: drop-shadow(0 0 4px $white);
  animation: blinker 1s linear infinite;
}