.vehicle-detail {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  padding: $spacing-l;
  animation: fade-in .5s;
  position: relative;
  overflow: hidden;
}

.vehicle-detail__data {
  color: var(--text-primary);
  transition: color $transition-time ease-in-out;
}

.vehicle-detail__name {
  color: var(--primary);
  font-size: 4rem;
  font-family: 'VW bold', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: -$spacing-s 0 $spacing-l;
  transition: color $transition-time ease-in;
}

.vehicle-detail__picture {
  text-align: center;
  position: relative;

  &::before {
    content: attr(data-title);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16rem;
    color: $iron;
    line-height: 0.8;
    position: absolute;
    bottom: 85%;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
    transition: color $transition-time ease-in, opacity $transition-time ease-in;

    .theme-light & {
      color: $mercury;
      opacity: 0.07;
    }

    //@include media('>=xlarge') {
    //  font-size: 20rem;
    //}
  }

  &::after {
    content: '';
    background: url("../assets/floor.svg") no-repeat center;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -50%;
    transform: scale(1.5);
    pointer-events: none;
  }
}

.vehicle-detail__brand {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20rem;
  margin-bottom: 7rem;
  color: $iron;
  line-height: 0.8;
  position: absolute;
  bottom: 45%;
  left: 0;
  right: 0;
}

.vehicle-detail__image {
  width: auto;
  max-width: 80%;
  position: relative;
}

.vehicle-detail__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-l;
}

.vehicle-detail__info {
  color: var(--text-primary);
  transition: color .15s ease-in;
  position: absolute;
}

.vehicle-detail__footer {
  padding-top: $spacing-l;
  display: flex;
  flex: 1 0 0;
  justify-content: center;
}

.vehicle-detail__map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  opacity: 0.04;
  z-index: -1;
  pointer-events: none;
  transition: opacity $transition-time ease-in, z-index $transition-time ease-in;

  &--active {
    opacity: 1;
    z-index: 0;
    transition: opacity $transition-time ease-out;
  }
}

.btn-circle__map {
  position: absolute;
  box-shadow: -30px 2px 34px 0 rgba(0, 166, 255, 0.19), 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 12px 14px 0 rgba(4, 50, 84, 0.43), 6px -8px 24px 0 rgba(44, 209, 255, 0.35);
  left: $spacing-l;
  bottom: $spacing-l;
  transition: background-color $transition-time ease-in;

  &--active {
    z-index: 1;
    transition: background-color $transition-time ease-in;
  }
}