.vehicle-detail {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  padding: $spacing-m;
  animation: fade-in .5s;
  position: relative;
  overflow: hidden;

  @include media('>=xlarge') {
    padding: $spacing-l;
  }
}

.vehicle-detail__content {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.vehicle-detail__data {
  color: var(--text-primary);
  transition: color $transition-time ease-in-out;
}

.vehicle-detail__picture {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: $spacing-l * 2;
  pointer-events: none;

  &::before {
    content: attr(data-title);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16vw;
    color: $iron;
    line-height: 0.8;
    position: absolute;
    bottom: 180px;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
    transition: color $transition-time ease-in, opacity $transition-time ease-in;

    @include media('>=medium') {
      bottom: 218px;
    }

    @include media('>=large') {
      bottom: 268px;
      font-size: 14rem;
    }

    @include media('>=xlarge') {
      bottom: 400px;
      font-size: 16rem;
    }

    .theme-light & {
      color: $mercury;
      opacity: 0.07;
    }
  }

  &::after {
    content: '';
    background: url("../assets/floor.svg") no-repeat center;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -50%;
    transform: scale(1.5);
    pointer-events: none;
    z-index: -1;
  }
}

.vehicle-detail__brand {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20rem;
  margin-bottom: 7rem;
  color: $iron;
  line-height: 0.8;
  position: absolute;
  bottom: 45%;
  left: 0;
  right: 0;
}

.vehicle-detail__image {
  width: auto;
  position: relative;
  max-width: 100%;
  height: auto;

  @include media('>=medium') {
    height: 248px;
  }

  @include media('>=large') {
    height: 298px;
  }

  @include media('>=xlarge') {
    height: 458px;
  }
}

.vehicle-detail__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-m;

  @include media('>=xlarge') {
    margin-bottom: $spacing-l;
  }
}