.vehicle-detail {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  padding: $spacing-m;
  animation: fade-in .5s;
  position: relative;
  overflow: hidden;

  @include media('>=xlarge') {
    padding: $spacing-l;
  }
}

.vehicle-detail__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-l;
  align-items: center;
}

.vehicle-detail__content {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.vehicle-detail__data {
  color: var(--text-primary);
  transition: color $transition-time ease-in-out;
}

.vehicle-detail__name {
  color: var(--primary);
  font-size: 3.5rem;
  font-family: 'VW bold', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  transition: color $transition-time ease-in;

  @include media('>=xlarge') {
    font-size: 4rem;
    margin-top: -$spacing-s;
  }
}

.vehicle-detail__picture {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: $spacing-l * 2;

  &::before {
    content: attr(data-title);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16rem;
    color: $iron;
    line-height: 0.8;
    position: absolute;
    bottom: 54%;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
    transition: color $transition-time ease-in, opacity $transition-time ease-in;

    .theme-light & {
      color: $mercury;
      opacity: 0.07;
    }
  }

  &::after {
    content: '';
    background: url("../assets/floor.svg") no-repeat center;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -50%;
    transform: scale(1.5);
    pointer-events: none;
    z-index: -1;
  }
}

.vehicle-detail__brand {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20rem;
  margin-bottom: 7rem;
  color: $iron;
  line-height: 0.8;
  position: absolute;
  bottom: 45%;
  left: 0;
  right: 0;
}

.vehicle-detail__image {
  width: auto;
  position: relative;
  max-width: 640px;
  max-height: $image-height;

  @include media('>=xlarge') {
    max-width: 900px;
  }
}

.vehicle-detail__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-m;

  @include media('>=xlarge') {
    margin-bottom: $spacing-l;
  }
}

.vehicle-detail__modal {
  color: var(--text-primary);
  transition: color .15s ease-in;
  border-radius: 17px;
  backdrop-filter: blur(2px);
  box-shadow: 0 2px 74px 0 rgba(0, 0, 0, 0.41), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
}

.vehicle-detail__overlay {
  background: rgba(0, 0, 0, 0);
}

.vehicle-detail__footer {
  height: $btn-height;
  display: flex;
  justify-content: space-between;

  position: absolute;
  bottom: $spacing-m;
  left: $spacing-m;
  right: $spacing-m;

  @include media('>=xlarge') {
    position: static;
  }
}

.vehicle-detail__map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  opacity: 0.04;
  z-index: -1;
  pointer-events: none;
  transition: opacity $transition-time ease-in, z-index $transition-time ease-in;

  &--active {
    opacity: 1;
    z-index: 0;
    transition: opacity $transition-time ease-out;
  }
}

.btn-circle__map {
  transition: background-color $transition-time ease-in;

  .theme-light & {
    box-shadow: -30px 2px 34px 0 rgba(0, 166, 255, 0.19), 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 12px 14px 0 rgba(4, 50, 84, 0.43), 6px -8px 24px 0 rgba(44, 209, 255, 0.35);
  }

  &--active {
    z-index: 1;
    transition: background-color $transition-time ease-in;
  }
}