@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slide-up {
  0% { transform: translateY(100%) }
  100% { transform: translateY(0) }
}

@keyframes blinker {
  50% { opacity: 0; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes drawCircle {
  from { stroke-dashoffset: 537; }
  to { stroke-dashoffset: 0; }
}

@keyframes bounce {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(20deg); }
  100% { transform: rotate(-20deg); }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 176, 240, 0.5);
  }
  70% {
    box-shadow: 0 0 0 30px rgba(0, 176, 240, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 176, 240, 0);
  }
}

@keyframes pulse-dark {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 30, 80, 0.5);
  }
  70% {
    box-shadow: 0 0 0 30px rgba(0, 30, 80, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 30, 80, 0);
  }
}