*, :after, :before {
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'VW', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-family: 'VW bold', -apple-system, BlinkMacSystemFont, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

a, button {
  outline: none;
}

img {
  width: 100%;
  height: auto;
}