*, :after, :before {
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
}

html {
  font-size: 0.9rem;

  @include media('>=xlarge') {
    font-size: 1rem;
  }
}

body {
  margin: 0;
  font-family: 'VW', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-family: 'VW bold', -apple-system, BlinkMacSystemFont, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

a, button {
  outline: none;
}

img {
  width: 100%;
  height: auto;
}

.preloader {
  display: flex;
  flex: 1 0 0;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  top: $header-height-m;
  left: $nav-panel-width;
  z-index: 99999;
}

.preloader__spinner {
  $preloader-color-light: rgba(255, 255, 255, 0.4);
  $preloader-color-dark: rgba(0, 31, 82, 0.4);
  width: 160px;
  height: 160px;

  .stop {
    stop-color: $preloader-color-light;

    .theme-dark & {
      stop-color: $preloader-color-dark;
    }
  }

  circle {
    fill: $preloader-color-light;

    .theme-dark & {
      fill: $preloader-color-dark;
    }
  }


}