.header-light {
  font-family: 'VW light', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 2.6em;
  font-weight: lighter;
}

.header-bold {
  font-family: 'VW bold', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 2.6em;
  font-weight: lighter;
}