@import 'node_modules/css-vars/css-vars';
@import 'colors';

$css-vars-use-native: true;
$primary: $cerulean;
$primaryBackground: $prussian-blue;
$secondary: $white;

//$primaryText:

@include css-vars((
  --primary: $primary,
  --secondary: $secondary,
  --bg-primary: $primaryBackground,
  --bg-secondary: $midnight,
  --bg-header: $white
));