@import 'node_modules/css-vars/css-vars';
@import 'colors';

$css-vars-use-native: true;

$primary: $cerulean;
$primaryBackground: $prussian-blue;
//$primaryText:

@include css-vars((
  --primary: $primary,
  --bg-primary: $primaryBackground
));