$spacing-s: 12px;
$spacing-m: 24px;
$spacing-l: 48px;
$radius: 8px;
$btn-height-m: 54px;
$btn-height-l: 60px;
$header-height-m: 64px;
$header-height-l: 76px;
$icon-size-m: 54px;
$icon-size-l: 76px;
$logo-height-l: 40px;
$logo-width-m: 104px;
$logo-width-l: 134px;
$image-height: 490px;
$nav-panel-width-m: 244px;
$nav-panel-width-l: 322px;
$transition-time: 0.5s;
