$spacing-s: 12px;
$spacing-m: 24px;
$spacing-l: 48px;
$radius: 8px;
$btn-height: 60px;
$header-height: 85px;
$logo-height: 28px;
$logo-width: 134px;
$nav-panel-width: 300px;
$transition-time: 0.5s;

$primary-color: #55b1f2;
$secondary-color: #001f52;
$light-color: #284573;
$intense-color: #001A48;
$intense-active-color: #001439;
$success-color: #029640;
$error-color: #e4003c;
$warning-color: #ffd100;
$light-white: #e2e3e5;
$white: #fff;
$bg-color: #FFFFFF;

