$spacing-s: 12px;
$spacing-m: 24px;
$spacing-l: 48px;
$radius: 8px;
$btn-height: 60px;
$header-height: 60px;

$primary-color: #55b1f2;
$secondary-color: #00437a;
$success-color: #029640;
$error-color: #e4003c;
$warning-color: #ffd100;
$white: #fff;
$bg-color: #FFFFFF;

