.fl-nav {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  position: relative;
  width: $nav-panel-width-m;
  box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0);
  transition: margin-left $transition-time ease-in, background-color $transition-time ease-in, box-shadow $transition-time ease-in;

  @include media('>=xlarge') {
    width: $nav-panel-width-l;
  }
}

.fl-nav--open {
  box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);

  .theme-dark & {
    box-shadow: none;
  }

  + .fl-content .fl-theme-switcher {
    transition: transform $transition-time ease-in, color $transition-time ease-in;
    transform: translateX(0);
  }
}

.fl-nav--closed {
  margin-left: -$nav-panel-width-m;

  @include media('>=xlarge') {
    margin-left: -$nav-panel-width-l;
  }

  + .fl-content .fl-theme-switcher {
    transition: transform $transition-time ease-in, color $transition-time ease-in;
    transform: translateX(46px);

    @include media('>=xlarge') {
      transform: translateX($spacing-l);
    }
  }
}

.fl-nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height-m;

  @include media('>=xlarge') {
    height: $header-height-l;
  }
}

.fl-nav__logo {
  width: $logo-width-m;
  margin-left: $spacing-s;

  @include media('>=xlarge') {
    width: $logo-width-l;
    margin-left: $spacing-m;
  }

  path {
    fill: var(--secondary);
    transition: fill $transition-time ease-in
  }

}

.fl-hamburger {
  transition: transform $transition-time ease-in, filter $transition-time ease-in;
  width: 56px;
  height: 100%;

  @include media('>=xlarge') {
    width: 78px;
  }

  .fl-nav--closed & {
    transform: translateX(64px);

    @include media('>=xlarge') {
      transform: translateX(76px);
    }
  }
}

.fl-hamburger__icon {
  width: 24px;
  path {
    fill: var(--secondary);
    transition: fill $transition-time ease-in;

    .fl-nav--closed & {
      fill: var(--primary);
    }
  }
}

.fl-vehicles {
  display: flex;
  flex-direction: column;
}